# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/express-jwt-mongoose-note-api/node_modules
/express-mysql-crud-api/node_modules
/express-mysql-ejs-app/node_modules